[submodule "rpi-image-gen-example"]
	path = rpi-image-gen-example
	url = https://github.com/jonnymacs/rpi-image-gen-example.git
[submodule "rpi-ble-server"]
	path = rpi-ble-server
	url = https://github.com/jonnymacs/rpi-ble-server.git
[submodule "rpi-with-splash-screen"]
	path = rpi-with-splash-screen
	url = https://github.com/jonnymacs/rpi-with-splash-screen
[submodule "rpi-web-kiosk"]
	path = rpi-web-kiosk
	url = https://github.com/jonnymacs/rpi-web-kiosk.git
[submodule "rpi-auto-resize-root"]
	path = rpi-auto-resize-root
	url = https://github.com/jonnymacs/rpi-auto-resize-root
[submodule "rpi-lamp-stack"]
	path = rpi-lamp-stack
	url = https://github.com/jonnymacs/rpi-lamp-stack
[submodule "rpi-tradingstrategy-ai-part-2"]
        path = rpi-tradingstrategy-ai-part-2
        url = https://github.com/jonnymacs/rpi-tradingstrategy-ai-part-2
