[submodule "rpi-image-gen-example"]
	path = rpi-image-gen-example
	url = https://github.com/jonnymacs/rpi-image-gen-example.git
[submodule "rpi-ble-server"]
	path = rpi-ble-server
	url = https://github.com/jonnymacs/rpi-ble-server.git
[submodule "rpi-with-splash-screen"]
	path = rpi-with-splash-screen
	url = https://github.com/jonnymacs/rpi-with-splash-screen
[submodule "rpi-web-kiosk"]
	path = rpi-web-kiosk
	url = https://github.com/jonnymacs/rpi-web-kiosk.git
